@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Treinamento azure</h1>
    <p>GitHub<a href="https://github.com/elayneargollo/wa-ta-azure-01">ASP.NET Core</a>.</p>
</div>
